@tailwind base;
@tailwind components;
@tailwind utilities;


.arrow-left{
    @apply w-8 h-8 border-b-4 border-l-4 rotate-45
}

.arrow-right{
    @apply w-8 h-8 border-b-4 border-r-4 -rotate-45
}

.arrow-up{
    @apply w-4 h-4 border-t-2 border-l-2 rotate-45 translate-y-1/4 
}

.arrow-down{
    @apply w-4 h-4 border-b-2 border-r-2 rotate-45 border-blue-400 -translate-y-1/4
}


select{
    @apply bg-blue-200 text-white
}

.option{
    @apply hover:bg-blue-500 cursor-pointer
}